.shuriken-section {
  height: 150vh;
  position: relative;
  background-color: var(--bg-dark);
}

.shuriken-wrapper {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shuriken {
  width: 400px;
  height: 400px;
  opacity: 1;
  transition: opacity 0.1s linear;
}
