.shuriken-section {
  height: 200vh;
  position: relative;
  background-color: var(--bg-dark);
}

.shuriken-wrapper {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shuriken {
  width: 200px;
  height: 200px;
}
